<!doctype html>
<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>{{ page.title }} - OSDev Rocks</title>
        <link rel="stylesheet" href="/style.css" />
        <style>
            #navigation a[href="{{ page.permalink }}"] {
                text-decoration: underline;
                color: var(--lavender);
            }
        </style>
    </head>

    <body>
        <div id="titlebar">
            <a href="/" id="title">OSDev Rocks!</a>

            <div id="navigation">
                <a href="/">Home</a>
                <a href="https://github.com/bright-shard/osdev-rocks">GitHub</a>

                <!-- Shamelessly stolen from Michael Tsai's search: https://mjtsai.com -->
                <form
                    id="search"
                    action="https://duckduckgo.com"
                    method="get"
                    enctype="application/x-www-form-urlencoded"
                >
                    <input
                        id="search-box"
                        maxlength="200"
                        type="search"
                        name="q"
                        placeholder="Search with DuckDuckGo..."
                    />
                    <input type="hidden" name="sites" value="osdev.rocks" />
                    <input
                        id="search-button"
                        value="search"
                        class="icon"
                        type="submit"
                    />
                </form>
            </div>
        </div>

        {% if page.no-toc != true %}
        <div id="page-toc">
            <a href="#page-title" id="page-toc-title"> {{ page.title }} </a>
            {% include toc.html html=content %}
        </div>
        {% endif %}

        <div id="page">
            <h1 id="page-title">{{ page.title }}</h1>

            <div id="page-content">{{ content }}</div>
        </div>
    </body>
</html>
